<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>MoiJV - {% block title %}{{ 'default_title' | trans}}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset("vendor/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset("css/heroic-features.css") }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">MoiJV</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('home') }}">{{ 'menu.home' | trans}}
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('product') }}">{{ 'menu.my_products' | trans}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('loans') }}">{{ 'menu.my_loans' | trans}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('logout') }}">{{ 'menu.logout' | trans}}</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="nav-link" href="{{ path('admin_index') }}">{{ 'menu.admin' | trans}}</a>
                            {% endif %}
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('login') }}">{{ 'menu.login' | trans}}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">

        {% block body %}{% endblock %}

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; MoiJV</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset("vendor/jquery/jquery.min.js") }}"></script>
    <script src="{{ asset("vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>
